.contener {
  text-align: center;
  justify-content: center;
  align-items: center;
 
}
.input-app{
height: 250px;
width: 111%;
  
}

.folder{
  
  background-color: aqua;
  display: flex;
  top: 15px;
  
}